@import '_reset';
@import 'compass/css3';
@import url('https://fonts.googleapis.com/css?family=Kavoon');

html,body{
    height: 100%;
    font-family: 'Kavoon';
}
body{
    display: flex;
    flex-direction: column;
}
main{
    flex: 1;
}
h1{
    font-size: 4rem;
    text-align: center;
    margin: 0;
}
a{
    color: white;
}   
.container{
    height: 0;
    width: 100%;
    position: relative;
    padding-top: 2rem;
}
svg{
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 6rem;
    width: 100vw;
    height: 100vh;
    min-height: 300px;
    overflow: hidden;
    display: block;
    margin: 0 auto;
    g{
        &:hover{
            cursor: pointer;
        }
    }
}
.part-white{fill:#eee3af;stroke-width:0.3;}
.part-gold{fill:#fec80d;stroke-width:0.3;}
.part-red{fill:#ec1b23;stroke-width:0.3;}
.part-black{stroke-width:0.3;}

@include keyframes(playSnare){
    from{        
        transform: scaleY(0.98);
    }
    30%{
        transform: scaleY(0.95);
    }
    80%{
        transform: scaleY(0.98);
    }
    to{
        transform: translateY(0);
        transform: scale(1);
    }
}
.playing-snare{
    transform-origin: center;
    @include animation-name(playSnare);
    @include animation-duration(0.7s);
    @include animation-timing-function(ease-out);
}
@include keyframes(playKick){
    0%{
        transform: scale(1.05);
    }
    90%{
        transform: scale(0.95);
    }
    100%{
        transform: scale(1);
    }
}
.playing-kick{
    transform-origin: center;
    @include animation-name(playKick);
    @include animation-duration(0.7s);
    @include animation-timing-function(ease-out);
}
@include keyframes(playHihat){
    from{
        transform: rotate(-2deg);
    }
    25%{
        transform: translateY(.3rem);
    }
    75%{
        transform: rotate(0);
    }
    to{
        transform: translateY(0);
    }
}
.playing-hihat{
    transform-origin: 100%;
    @include animation-name(playHihat);
    @include animation-duration(0.7s);
    @include animation-timing-function(ease-in-out);
}
footer{
    flex-shrink: 0;
    padding: 0 1rem 0 1rem;
    z-index: 9;
    font-size: 1.2rem;
    .author{
        text-align: right;
    }
}
